<!-- grocery list item component -->
<ion-item class="grocery-item">
  <!-- status indicator check mark -->
  <div class="item-status">
    <div class="action-btn checkbox">
      <ion-label class="checkbox-label">
        <i-lucide [name]="checkIcon" size="24"></i-lucide>
      </ion-label>
    </div>
  </div>
  <!-- item content -->
  <div class="item-content">
    <!-- item name -->
    <ion-label class="item-name">{{item.title}}</ion-label>
    <!-- item info -->
    <div class="item-info">
      <!-- item price -->
      <ion-label>${{item.estimatedCost}}</ion-label>
      <!-- item quantity -->
      <ion-label>{{item.amount}}</ion-label>
    </div>
  </div>
  <!-- item actions -->
  @if (isEditeModeEnabled) {
  <div class="item-actions" >
    <!-- change list button -->
    <button type="button" title="Change List" class="action-btn" slot="end">
      <i-lucide [name]="starIcon" size="20"></i-lucide>
    </button>
    <!-- edit button -->
    <button type="button" title="Edit" class="action-btn" slot="end">
      <i-lucide [name]="editIcon" size="20"></i-lucide>
    </button>
    <!-- delete button -->
    <button type="button" title="Delete" class="action-btn remove-item" slot="end">
        <i-lucide [name]="trashIcon" size="20"></i-lucide>
      </button>
    </div>
  }
</ion-item>
