// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root {
  /** primary **/
  --ion-color-primary: #4A9B9B;
  --ion-color-primary-rgb: 74, 155, 155;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #418888;
  --ion-color-primary-tint: #5ca5a5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-color-primary: #4A9B9B;
    --ion-color-primary-rgb: 74, 155, 155;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #418888;
    --ion-color-primary-tint: #5ca5a5;
  }
}
