<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar color="none">
    <!-- Title removed -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-grocery-list-item></app-grocery-list-item>
  <div class="page-container">
    <ion-segment [(ngModel)]="selectedFilter">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="completed">
        <ion-label>Completed</ion-label>
      </ion-segment-button>
      <ion-segment-button value="hidden">
        <ion-label>Hidden</ion-label>
      </ion-segment-button>
      <ion-segment-button value="removed">
        <ion-label>Deleted</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="list-container">
      <ion-list class="modern-list">
        @for (item of getFilteredItems(); track item) {
          <ion-item class="grocery-item" [class.completed]="item.checked">
            <div class="item-content">
              <div class="item-main-row">
                @if (isActionableTab(selectedFilter)) {
                  <ion-checkbox
                    [(ngModel)]="item.checked"
                    slot="start"
                    class="modern-checkbox"
                  ></ion-checkbox>
                }

                <div class="item-info" [class.no-checkbox]="!isActionableTab(selectedFilter)">
                  <div class="title-row">
                    <span [class.strike-through]="item.checked">{{ item.title }}</span>
                  </div>
                  <div class="amount-price">
                    <span class="amount">{{ item.amount }}</span>
                    <span class="price">${{ item.estimatedCost }}</span>
                  </div>
                </div>

                <div class="action-buttons">
                  @if (selectedFilter === 'hidden') {
                    <ion-button fill="clear" (click)="unhideItem(item)">
                      <ion-icon name="eye-outline"></ion-icon>
                    </ion-button>
                  } @else if (selectedFilter === 'removed') {
                    <ion-button fill="clear" (click)="restoreItem(item)">
                      <ion-icon name="refresh-outline"></ion-icon>
                    </ion-button>
                  } @else {
                    <ion-button fill="clear" (click)="toggleHideItem(item)">
                      <ion-icon name="eye-off-outline"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" (click)="editItem(item)">
                      <ion-icon name="create-outline"></ion-icon>
                    </ion-button>
                    <ion-button fill="clear" (click)="removeItem(item)">
                      <ion-icon name="trash-outline"></ion-icon>
                    </ion-button>
                  }
                </div>
              </div>
            </div>
          </ion-item>
        } @empty {
          <ion-item>
            <ion-label>No items in your grocery list</ion-label>
          </ion-item>
        }
      </ion-list>
    </div>

    <ion-button
      (click)="openAddTaskModal()"
      class="add-item-button"
      expand="block"
    >
      ADD NEW ITEM
    </ion-button>
  </div>
</ion-content>
